#wrapper {
    width: 100vw;
}

#wrapper #contents {
    padding: 1rem 1rem 2.5rem 1rem;
}

#contents .celeb-qty {
    font-size: 0.8125rem;
    font-weight: 400;
    color: #2E3C52;
    margin-bottom: 0.25rem;
}

#contents .celeb-qty .qty {
    font-weight: 700;
    color: #FA1155;
}

#contents .title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 2rem;
    color: #111111;
    margin-bottom: 1.25rem;
}

#contents .title .title-bold {
    font-weight: 700;
}