ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    width: 100%;
}

li {
    position: relative;
    height: 13.75rem;
    border-radius: 0.75rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    border: 1px solid #F7F7F7;
}

li .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to bottom,
            rgba(28, 30, 34, 0) 40%,
            rgba(28, 30, 34, 1) 100%
    );
    z-index: 1;
}

li .box-content {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    z-index: 2;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

li .box-content .celeb-profile {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

li .celeb-profile .celeb-name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

li .celeb-profile .celeb-name .online {
    width: 0.25rem;
    height: 0.25rem;
    background: #14F698;
    border-radius: 0.75rem;
}

li .celeb-profile .celeb-name .nick-name {
    font-size: 0.8125rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: white;
}

li .celeb-profile .celeb-info {
    display: flex;
    align-items: center;
    font-size: 9px;
    font-weight: 400;
    line-height: 0.75rem;
    color: white;
}

li .celeb-profile .celeb-info .region {
    margin-left: 2px;
}

li .celeb-profile .celeb-info .dot {
    color: #7D8A9F;
    display: inline-block;
    width: 9px;
}